.top {
   
    padding-left: 30px;
    color: #F3CD7D;
    font-family: 'Nosifer', cursive;
}
body {
    background-image: url(../images/purple-gradient.png);
    background-repeat: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
}

label {
    font-family: 'Audiowide', cursive;
}

.border {
   /* width: none;*/
    border: 1px white solid;
    margin-left: 20px;
}
.form-control {
    color: white;
    background: none;
    border: solid 1px white 
}
.panel {
background-color: none;
background: none;
color: white;
}

#panel-wrapper {
    width: 90%;
    height: 100%;
    display: flex;
    margin: 0 auto;

}

#panel-wrapper div{
    flex: 1;
    -webkit-flex: 1;
}

#panel-wrapper p {
    font-size: 14px;
}





#grid-wrapper {
    width: 90%;
    height: 100%;
    display: flex;
    margin: 0 auto;
    border: solid, white, 1px;
}

#grid-wrapper div {
    flex: 1;
    -webkit-flex:1;
    
}


h2 {
    color: #FEE731;
    font-family: 'Audiowide', cursive;

}

ul {
    color: white;
    font-family: 'Audiowide', cursive;

}

#cocktail-grid img {
    margin: 10px;
    height: 200px;
    width: 200px;

}

#cocktail-grid p {
    font-size: 13px;

}

#col-drink-history {
    font-family: 'Audiowide', cursive;
    color: white;
}

#col-drink-history td {
    font-family: 'Audiowide', cursive;
    color: white;
    font-size: 16px;
}

#col-drink-history th {
    color: #F3CD7D;
}

div .about,
.info {
    background-repeat: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    background-color: none;
    color: white; 
    position: relative;
    top: 10px;
    font-family: 'Audiowide', cursive;
}
.aboutHead {
    padding-bottom: 10px;
    font-size: 30px;
    line-height: 49px;
}
.register {
    padding-bottom: 5px;
    font-size: 30px;
    line-height: 49px;
    font-family: 'Audiowide', cursive;
}
.start {
    background-color: transparent;
    color: /*#F3CD7D*/ white;
    font-family: 'Audiowide', cursive;
}
.footerWall {
    color: #FEE731;
    font-family: 'Audiowide', cursive;
}
 .scroll {
    overflow: auto;
    margin-bottom: 80px;
    height: calc(100vh - 160px);
    width: 100%;
} 
input {
    border: white solid 1px;
}

p{
    color: white;
    font-family: 'Audiowide', cursive;
    font-size: 19px;
}
}

#reviews {
    margin-top: 20px;
    padding-right: 20px;
    display: inherit;
}

#reviews p {
    padding-top: 20px;
    font-size: 14px;
}


img {
    height: 300px;
    width: 300px;
    padding-bottom: 10px;
}

#row1-col2 {
    padding-top: 55px;
}



.app-container {
  
    -webkit-animation-duration: 2s;
}

.btn-default {
    color: white;
    background-color: transparent;
    border-color: white;
    margin: 15px auto 0 auto;
    display: inherit;
    font-family: 'Audiowide', cursive;
}



h3 {
    font-family: 'Audiowide', cursive;
    color: white;
}



.start:hover, 
#btn-yest:hover,
#btn-today:hover,
#btn-tomorrow:hover,
#btn-random:hover,
.btn-get-random:hover,
#another-random-cocktail:hover,
#cocktail-database:hover,
#cocktail-firebase:hover,
#drink-history:hover,
#td-cocktail-name:hover,
#star-1:hover,
#star-2:hover,
#star-3:hover,
#star-4:hover,
#star-5:hover {
    background-color: #F3CD7D;
}

#div-5-star-rating {
    /*display : inline-block;*/

    width : 100%;
    text-align : center;
    margin-top : 10px;
}
