.top {
   /* background-color: grey;*/
    padding-left: 30px;
    color: #F3CD7D;
    font-family: 'Nosifer', cursive;
}
body {
    background-image: url(../images/purple-gradient.png);
    background-repeat: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /*background-position: center;*/
    height: 100%;
}

label {
    font-family: 'Audiowide', cursive;
}

.border {
   /* width: none;*/
    border: 1px white solid;
    margin-left: 20px;
}
.form-control {
    color: white;
    background: none;
    border: solid 1px white 
}
.panel {
background-color: none;
background: none;
color: white;
}

#panel-wrapper {
    width: 90%;
    height: 100%;
    display: flex;
    margin: 0 auto;

}

#panel-wrapper div{
    flex: 1;
    -webkit-flex: 1;
}

.image-cocktail-thumbnail {

}

h2 {
    color: #FEE731;
    font-family: 'Audiowide', cursive;

}

ul {
    color: white;
    font-family: 'Audiowide', cursive;

}

div .about,
.info {
/*  background-image: url(../images/purple-gradient.png)*/;
    background-repeat: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /*background-position: center;*/
    height: 100%;
    background-color: none;
    color: /*#F3CD7D*/ white;
    /* opacity: 0.8; */
    position: relative;
    top: 10px;
    font-family: 'Audiowide', cursive;
}
.aboutHead {
    padding-bottom: 10px;
    font-size: 30px;
    line-height: 49px;
}
.register {
    padding-bottom: 5px;
    font-size: 30px;
    line-height: 49px;
    font-family: 'Audiowide', cursive;
}
.start {
    background-color: transparent;
    color: /*#F3CD7D*/ white;
    font-family: 'Audiowide', cursive;
}
.footerWall {
    color: #FEE731;
    font-family: 'Audiowide', cursive;
}
 .scroll {
    overflow: auto;
    margin-bottom: 80px;
    height: calc(100vh - 160px);
    width: 100%;
} 
input {
    border: white solid 1px;
}

p{
    color: white;
}

#reviews {
    padding-top: 20px;
    padding-right: 20px;
    display: inherit;
}

img {
    height: 300px;
    width: 300px;
    padding-bottom: 10px;
}

#row1-col2 {
    padding-top: 55px;
}

#col2-row3 p {
    font-size: 25px;
    /*font-family: 'Noto Sans', sans-serif;*/
    font-family: 'Kalam', cursive;
}


.app-container {
   /* margin: 30px auto 0 auto;*/
    -webkit-animation-duration: 2s;
}

.btn-default {
    color: white;
    background-color: transparent;
    border-color: white;
    margin: 15px auto 0 auto;
    display: inherit;
    font-family: 'Audiowide', cursive;
}

/*.row {
    margin-right: -15px;
    margin-left: -15px;
    display: inline;
    text-align: center;
}*/

h3, p {
    font-family: 'Audiowide', cursive;
    color: white;
}
/*#name-label,
#dob-label{
    font-family: 'Anton', sans-serif;
}*/

.start:hover, 
#btn-yest:hover,
#btn-today:hover,
#btn-tomorrow:hover,
#btn-random:hover,
.btn-get-random:hover,
#another-random-cocktail:hover,
#cocktail-database:hover,
#cocktail-firebase:hover,
#drink-history:hover,
#td-cocktail-name:hover {
    background-color: #F3CD7D;
}
